<!-- tu_template_detalle_ticket.html -->
{% extends 'cliente/dashboard.html' %}

{% block cliente_section %}

{% load static %}

 <section>

    <h1>{{ ticket.asunto }}</h1>
    <p>{{ ticket.descripcion }}</p>
  
    <!-- Mostrar respuestas en forma de chat -->
    <div class="chat-container">
      {% for respuesta in respuestas %}
        <div class="mensaje {% if respuesta.tecnico == ticket.cliente %}mensaje-cliente{% else %}mensaje-otro-usuario{% endif %}">
            <p>{{ respuesta.tecnico }} ({{ respuesta.fecha_respuesta|date:"l, j F Y H:i:s" }})</p>
            <p>{{ respuesta.respuesta }}</p>
        </div>
      {% endfor %}
    </div>
  </section>
  
  {% endblock %}
