{% extends 'cliente/dashboard.html' %}

{% block cliente_section %}

{% load static %}
<section id="contenedor-divs">

    <div class="agregar_ticket">
        <h5>Tickets</h5><a class="float-end mb-2" href="{% url 'cli_crear_ticket' %}"> <center><button type="submit" class="btn btn-outline-dark">Crear Tickets</button></center> </a>
    </div>

    <div class="listar_tickets">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Asunto</th>
                <th scope="col">Estado</th>
                <th scope="col">Respuestas</th>
                <th scope="col">Tecnico</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for ticket in tickets_cliente %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td><a href="{% url 'cli_detalle_ticket' ticket.id %}">{{ ticket.asunto }}</a></td>
                    <td>{{ ticket.estado.nombre }}</td>
                    <td>{{ ticket.num_respuestas }}</td>
                    <td>{{ ticket.tecnico_asig.user.first_name }} {{ ticket.tecnico_asig.user.last_name }}</td>
                    <td>
                        <a href="{% url 'cli_agregar_respuesta' ticket.id %}" class="btn btn-outline-dark btn-sm"><i class="bi bi-pencil-square"> Añadir Respuesta</i></a>
                    </td>
                    <td>
                        <a href="{% url 'cli_detalle_ticket' ticket.id %}" class="btn btn-outline-dark btn-sm"><i class="bi bi-ticket-detailed"> Ver Detalles</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>

</section>

{% endblock %}


