{% extends 'administracion/dashboard.html' %}

{% block admin_section %}

{% load static %}
<section id="contenedor-divs">

    <p>CREAR CLIENTES ADMINISTRADOR</p>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_nombre" class="mt-4">Nombre:</label>
            {{ form.nombre }}
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1" class="mt-4">Apellido</label>
          {{ form.apellido }}
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1" class="mt-4">Comuna</label>
            {{ form.comuna }}
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1" class="mt-4">Contraseña</label>
            {{ form.contraseña }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-dark mt-5">Crear Cliente</button>
        </div>
    </form>

</section>

{% endblock %}

