.chat-container {
    margin-top: 20px;
  }

  .mensaje {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  /* Estilo para los mensajes del cliente que levantó el ticket */
  .mensaje-cliente {
    background-color: #d5d5d5;
    border: 1px solid #000;
    color: #000;
    text-align: right;
    width: 60%;
    float: right;
  }

  /* Estilo para los mensajes de otros usuarios (técnicos, etc.) */
  .mensaje-otro-usuario {
    background-color: #b4b4b4;
    border: 1px solid #000;
    color: #000000;
    text-align: left;
    width: 60%;
    float: left;
  }